.conteneur-post {
    @include pad(5%);
    margin-top: 1.5em;
    @include breakpoint($small) {
        @include span(8);
        @include push(2);
    }
}
.post-content {
    ul {
        list-style: none;
        li {
            &:before {
                content: '\21DD  ';
                color: $rose;
            }
        }
    }
}
.footnotes {
	border-top: 1px solid black;
    margin-top: 5em;
	&:before {
		content: 'notes :';
		font-style: italic;
	}
}

#disqus_thread {
    margin-top: 2em;
    @include pad(5%);
    @include breakpoint($small) {
        @include span(8);
        @include push(2);
    }
}