/**
 * Code formatting
 */

pre,
code {
     font-size: 15px;
 }

 code {
     padding: 1px 5px;
 }

 pre {
     padding: 8px 12px;
     overflow-x: scroll;
     white-space: pre-wrap;

     > code {
         border: 0;
         padding-right: 0;
         padding-left: 0;
     }
 }
