%list-style {
	line-height : 2em;
	list-style: none;
	color: darken($rose, 20);
	font-weight: 500;
}

.competences {
	@extend %list-style;
	li {
		&:before {
			content: '\2661';
			color: lighten($rose, 10);
		}
	}
}

.outils {
	@extend %list-style;
	li {
		&:before {
			content: "\2692";
			color: darken($rose, 10);
		}
	}
	@include breakpoint($small) {
		padding-left: 0;
		width: 150px;
		margin: 0 auto;
	}
}

.prestations {
	@extend %list-style;
	li {
		&:before {
			content: "\2713";
			color: darken($rose, 20);
		}
	}
}
@include breakpoint($small) {
	.competences, .prestations {
		margin-left: em(68px);
	}
}