// ==========================================================================
// footer
// ==========================================================================
.site-footer {
    height : $footer-height;
    background-color : color(primary-color-dark);
    position: relative;
    z-index: 100;
}

.footer-container {
    margin-top : 100px;

    @include susy-breakpoint($tablet-portrait) {
        margin-top : gutter();
        padding-top: 3em;
    }
}

.footer-container h2 {
    color: color-lighter(primary-color-light, 3);
    @include fz($h3-fz);
}

.footer-container ul {
    margin-left: 0;
    padding-left: 0;
}

.footer-container li {
    list-style-type: none;
}

.footer-container a {
    text-decoration: none;
    color: color-lighter(primary-color-light, 4);
}

.footer-container p {
    color: color-lighter(primary-color-light, 4);
}



.footer-block:first-of-type {
    @include susy-breakpoint($tablet-portrait) {
        @include span(4);
    }
}

.footer-block:nth-of-type(2) {
    @include susy-breakpoint($tablet-portrait) {
        @include span(4);
    }
}

.footer-block:last-of-type {
    @include susy-breakpoint($tablet-portrait) {
        @include span(4 last);
    }
}