// ==========================================================================
// footer
// ==========================================================================
.site-footer {
    height : $footer-height;
    background-color : color(primary-color-dark);

    @include full;
}

.footer-container {
    margin-top : 100px;

    @include susy-breakpoint($tablet-portrait) {
        margin-top : 50px;

        @include container();
    }
}

.contact-list ,
.social-media-list {
    @include push(1);
    @include susy-breakpoint($tablet-portrait) {
        @include span(3);
    }
}

.text {
    color : #d5d5cf;

    @include push(1);
    @include susy-breakpoint($tablet-portrait) {
        margin-left : 0;

        @include span(4 last);
    }
}

.contact-list ,
.social-media-list {
    padding-left : 0;
    color : #a576a7;
    list-style : none;
}

.social-media-list a {
    color : color-lighter(accent-color, 4);
}
