// ==========================================================================
// Header
// ==========================================================================
.site-header {
    position : relative;
    min-height : 5em;
    background : color(primary-color-dark);
    z-index: 100;

    @include susy-breakpoint($tablet-portrait) {
        height : 10em;
    }
}

.site-title {
    position: relative;
    top: 3em;
    left: 0;

    &:hover {
        color : color(accent-color);
        text-decoration : none;
    }
}

.trig {
    position : absolute;
    left : 0;
}
