// ==========================================================================
// Navigation
// ==========================================================================
.canvas {
    position : relative;
    width : 100%;
    overflow : hidden;
}

.no-display {
    display : none;
}

// target the sibbling of input
input:checked ~ .off-canvas {
    right : 0;
}

input:checked + label {
    margin-right : 15em;
}

input:checked ~ .content {
    margin-left : -15em;
}

.open {
    margin-top : 18px;
    transition : margin-right .3s ease;
    color : #fff;
    font-size : 3em;

    @include span(2 last);
    @include susy-breakpoint($tablet-portrait) {
        display : none;
    }
}

.off-canvas {
    position : absolute;
    right : -15em;
    width : 15em;
    height : 200vh;
    transition : right .3s ease;
    border-top : 6px solid green;
    background : color(primary-color);

    @include susy-breakpoint($tablet-portrait) {
        top : 0;
        right : 0;
        left : 0;
        width : 100%;
        height : 0;
        border-top : none;
        background : #eee;
    }
}

.navigation__ul {
    margin : 0 2em 0 0;
    padding : 0;

    @include susy-breakpoint($tablet-portrait) {
        margin : 0;
        float : right;
    }
}

.navigation__ul li {
    text-decoration : none;

    @include susy-breakpoint($tablet-portrait) {
        display : inline-block;
        margin : 0;
        line-height : 2;
    }

    list-style-type : none;
}

.page-link {
    display : block;
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left : 20px;
    transition : all .2s ease-out;
    border-bottom : 2px solid #fff;
    color : #fff;
    font-family : $texte;
    font-size : 1em;
    text-decoration : none;

    @include susy-breakpoint($tablet-portrait) {
        display : inline-block;
        height : 100%;
        padding : 0 1em;
        border-bottom : none;
        background : color-darker(primary-color-dark, 1);
        color : #fff;
        font-size : 1.1em;
        font-weight : 700;
    }
    &:hover {
        background : color-darker(primary-color-dark, 3);
        color : #fff;
        text-decoration : none;
    }
}

.content {
    width : 100%;
    transition : margin-left .3s ease;
}

.close {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;

    pointer-events : none;
}

input:checked ~ .close {
    pointer-events : auto;
}

// ==========================================================================
// FIN Navigation
// ==========================================================================

.ariane ul {
    padding-left : 0;
}

.ariane li {
    display : inline-block;

    list-style-type : none;

    &:first-of-type:after {
        padding-left : .3em;
        content : '>';
    }
}
