$pos-left : 34px;
.nico,
.trois {
    letter-spacing : 1px;
}

.lettre-n,
.lettre-i,
.lettre-c,
.lettre-o,
.lettre-l,
.lettre-a,
.lettre-s,
.lettre-d,
.lettre-e,
.lettre-v,
.lettre-a2,
.lettre-u,
.lettre-x,
.trois {
    display          : block;
    position         : absolute;
    top              : 13px;
    width            : 30px;
    height           : 30px;
    border-radius    : 5px;
    background-color : #fffffa;
    line-height      : 33px;
    text-align       : center;
}

.lettre-n {
    left : 0;
}

.lettre-i {
    left : $pos-left;
}

.lettre-c {
    left : $pos-left * 2;
}

.lettre-o {
    left : $pos-left * 3;
}

.lettre-l {
    left : $pos-left * 4;
}

.lettre-a {
    left : $pos-left * 5;
}

.lettre-s {
    left : $pos-left * 6;
}

.lettre-d {
    left : $pos-left * 8;
}

.lettre-e {
    left : $pos-left * 9;
}

.lettre-v {
    left : $pos-left * 10;
}

.lettre-a2 {
    left : $pos-left * 11;
}

.lettre-u {
    left : $pos-left * 12;
}

.lettre-x {
    left : $pos-left * 13;
}

.trois {
    left    : $pos-left * 14;
    opacity : 0;
}

/* cv svg
  ============================= */

.cv-svg {
    display       : block;
    width         : 100px;
    height        : 100px;
    margin        : 0 auto;
    padding       : 1em;
    border-radius : 5px;
    background    : RGBA(230, 62, 142, .1);
}

#gear {
    fill         : none;
    stroke       : black;
    stroke-width : 2px;
}

#battery-1,
#battery-2,
#battery-3,
#battery-4 {
    opacity : 0;

    fill    : #3c8b89;
}

.svg-article {
    display : block;
    width   : 200px;
    margin  : 0 auto;
}

.ndd-article {
    text-align : center;
    font-size : 1.1em;
}

.ndd-article-pink {
    color: $rose;
}
