<footer class="site-footer" role="contentinfo">
	<div class="footer-container has-container">
		<ul class="contact-list">
			<li>
				<svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
				<a href="mailto:{{ site.email }}">{{ site.email }}</a>
			</li>
		</ul>
		<ul class="social-media-list">
			{% if site.github_username %}
			<li>
				<a href="https://github.com/{{ site.github_username }}">
					<svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
					<span class="username">{{ site.github_username }}</span>
				</a>
			</li>
			{% endif %}
			{% if site.twitter_username %}
			<li>
				<a href="https://twitter.com/{{ site.twitter_username }}">
					<svg class="icon icon-github"><use xlink:href="#icon-twitter"></use></svg>
					<span class="username">{{ site.twitter_username }}</span>
				</a>
			</li>
			{% endif %}
		</ul>
		<p class="text">{{ site.description }}</p>
	</div>
</footer>
</div>  <!-- end content -->
</div> <!-- end canvas -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/TextPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSRulePlugin.min.js"></script>
<script src="{{ '/js/MorphSVGPlugin.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/tipped.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/smooth-scroll.js' | prepend: site.baseurl }}"></script>
<script>
	smoothScroll.init({
		offset: 20
	});
</script>
</body>
</html>