<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="//use.typekit.net/xac0gwv.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>