<div class="canvas">
	<input type="checkbox" id="checkbox"/>

	<div class="content">
		<header class="site-header" role="banner">
			<a class="site-title" href="{{ site.baseurl }}/">
				<span class="lettre lettre-n">n</span>
				<span class="lettre lettre-i">i</span>
				<span class="lettre lettre-c">c</span>
				<span class="lettre lettre-o">o</span>
				<span class="lettre lettre-l">l</span>
				<span class="lettre lettre-a">a</span>
				<span class="lettre lettre-s">s</span>
				<span class="lettre lettre-d">d</span>
				<span class="lettre lettre-e">e</span>
				<span class="lettre lettre-v">v</span>
				<span class="lettre lettre-a2">a</span>
				<span class="lettre lettre-u">u</span>
				<span class="lettre lettre-x">x</span>
				<span class="lettre trois">3</span>
			</a>
			<label for="checkbox" class="open">&#9776;</label>
			<label for="checkbox" class="close"></label>
			<div class="off-canvas">
				<nav class="navigation" role="navigation">
					<a class="page-link" href="/index.html">Accueil</a>
					<a class="page-link" href="/portfolio/index.html">Réalisations</a>
					<a class="page-link" href="/tutoriels/index.html">Tutoriels clients</a>
					<a class="page-link" href="/developpeur-web/index.html">Qui suis-je ?</a>
					<a class="page-link" href="/blog/index.html">Blog</a>
				</nav>
			</div>
		</header>