.has-container {
    position : relative;
    height : 100%;

    @include susy-breakpoint($tablet-portrait) {
        @include container();
    }
}
.page-content-wrapper {
    background : linear-gradient(to bottom, color-lighter(primary-color-light, 8) 50%, color(primary-color-light));

    @include pad(gutter());

    // sticky footer
    &:after {
        display : block;
        height : $footer-height;
        content : '';
    }
}

// ==========================================================================
// Layout gauche/droite
// ==========================================================================
.aside-content ,
.content-fullpage {
    margin : gutter() 0;
    padding-top : gutter();
    overflow : auto;
}

.main-content {
    margin-top : gutter();

    @include susy-breakpoint($tablet-portrait) {
        @include span(9);
    }

    hyphens : auto;
}

.aside-content {
    @include susy-breakpoint($tablet-portrait) {
        @include span(3 last);
        @include pad(gutter());
        height: 100vh;
    }
}

.content-fullpage {
    margin-top : 1em;
    padding : gutter();
    overflow : auto;
}

// ==========================================================================
// Presta compe tools
// ==========================================================================
.presta ,
.compe ,
.tools {
    @include susy-breakpoint($tablet-portrait) {
        min-height : 30em;
    }
}

.presta h2 ,
.compe h2 ,
.tools h2 {
    width : 80%;
    margin : 1em auto;
    border-bottom : 1px dashed color(accent-color);
    color : color(primary-text-color);
    text-align : center;
}

// -----------------------------------
// Qualites sites
// -----------------------------------
.qualite-site {
    display : flex;
    min-height : 30em;

    flex-direction : column;
    justify-content : space-between;
    align-items : center;
}

// -----------------------------------
// FLEXBOX
// -----------------------------------
.has-flex--center {
    display : flex;

    flex-direction : column;
    justify-content : center;
    align-items : flex-start;
}

.g-block {
    border : 1px solid #eee;
    background : hsla(0, 0, 100%, .8);

    @include pad(gutter());
}
