.tarif-container {
    position : relative;
    border-right : 1px solid #eee;
    background : #fff;
    text-align : center;

    @include susy-breakpoint($tablet-portrait) {
        min-height : 45em;
    }

    &:last-of-type {
        border-right : none;
    }
}

.tarif-container h3 {
    font-family : $texte;
    font-weight : 300;
    text-transform : uppercase;

    @include fz($h4-fz);
}

.tarif-montant p {
    position : relative;
    color : color-lighter(primary-text-color, 3);
    font-style : normal;
    font-weight : 300;

    @include fz($h1-fz);
    &:after {
        position : absolute;
        right : 0;
        bottom : -.4em;
        left : 0;
        width : 50%;
        height : 2px;
        margin : 0 auto;
        background : #000;
        content : '';
    }
}

.tarif-mensuel p {
    font-size : .9em;
    font-style : italic;
}

.tarif-presta ul {
    padding : 0;
}

.tarif-presta li {
    font-size : .9em;
    font-weight : 300;
    line-height : 2;

    list-style-type : none;

    &:first-of-type {
        margin-bottom : 1em;
        color : color-lighter(primary-text-color, 3);
        font-size : .8em;
        text-transform : uppercase;
    }
}

.tarif-surligne {
    width : 65%;
    margin : 0 auto .2em;
    padding : 0 1em;
    background : color-opa(accent-color, .1);
    line-height : 1;
    text-align : center;
}

.tarifs-aside {
    @include susy-breakpoint($tablet-paysage) {
        margin-top : gutter();
        padding : 8em gutter() 0;
    }
}

.calcul-tarif {
    margin: 0 .5rem;
    padding : 1rem;
    background-color : color-lighter(accent-color, 2);
    color : #fff;
    font-family : $sans-serif;
}

.calcul-tarif p:first-of-type {
    margin : 0 0 1rem 0;
    padding : 0;
    text-transform : uppercase;
}

.calcul-tarif label {
    float : left;
}

.calcul-tarif input {
    width : 100px;
    float : right;
}

.calcul-tarif span {
    display : block;
    margin-top : 1rem;
    text-align : left;
}

.tarif-info {
    text-transform: none;
    text-align: left;
    font-size: .7em;
    margin: 2em 0 0 0;
}
