.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-thumb {
  fill: #fff;
  width: 6em;
  height: 6em;
  transform: scale(0.4);
  transition: all .3s ease-in;
}

.icon--footer {
    width: 2.5em;
    height: 2.5em;
    opacity: .8;
    fill: color-lighter(primary-color-light, 4);
}

.icon-mail {
    fill: color-lighter(primary-color-light, 4);
}


.icon--center {
    display: block;
    margin: 0 auto 1em;
}

.icon--big  {
    width: 2.5em;
    height: 2.5em;
    fill: color-opa(accent-color, .7);
}

.icon-article {
    display: inline !important;
    margin: 0 1em 0 0 !important;
    width: 1.2em !important;
    height: 1.2em !important;
    fill: color(primary-color);
}