.home-ul {
    padding-left: 0;
}

.home-ul li {
    list-style-type: none;
}

.home-ul__li {
    list-style-type: none;
    margin-bottom: 2em;
    font-family: $sans-serif;
    line-height: 2;
    color: color(primary-color-dark);
}

.home-ul__li__ul {
    background: #fff;
    padding-left: 0;
}

.home-ul__li__ul {
    color: #000;
}


.compemeter {
    width: 0;
    height: .5em;
    margin-bottom: .5em;
    background: color(accent-color);
}

.compemeter--good {
    max-width: 80%;
}

.compemeter--middle {
    max-width: 65%;
}

// -----------------------------------
// Plan articles
// -----------------------------------
.plan-article ol {
    padding-left: 0;
    font-family: $texte;
    color: color(primary-color-light);
    counter-reset: section;
    list-style: none;
}

.plan-article ol li:before {
    counter-increment: section;
    content: counters(section, ".") " ";
}

.plan-article ol ol {
    padding-top : .5em;
    padding-left: 1em;
    font-size: .9em;
}

