%list-style {
    line-height: 2em;
    list-style: none;
    font-weight: 400;
    padding-left : 4em;
}
.competences {
    @extend %list-style;
    li {
        &:before {
            content: '\e903';
            font-family: icomoon;
            padding-right: 5px;
            color: color(accent-color);
        }
    }
    @include susy-breakpoint($tablet-portrait) {
    	margin-left: em(54px);
    }
    @include susy-breakpoint($tablet-paysage) {
    	margin-left: em(-5px);
    }
}

.outils {
    @extend %list-style;
    li {
        &:before {
            content: "\e902";
            font-family: icomoon;
            padding-right: 5px;
            color: color(accent-color);
        }
    }
	@include susy-breakpoint($tablet-portrait) {
    	margin-left: em(69px);
    }
    @include susy-breakpoint($tablet-paysage) {
    	margin-left: 10px;
    }
}

.prestations {
    @extend %list-style;
    li {
        &:before {
            content: "\e901";
            font-family: icomoon;
            padding-right: 5px;
            color: color(accent-color);
        }
    }
    @include susy-breakpoint($tablet-portrait) {
    	margin-left: 15.4375em;
    }
    @include susy-breakpoint($tablet-paysage) {
    	margin-left: -9px;
    }
}