// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
// breakpoints
$small  : 47.938em; //767px
$medium : 62.000em; //992px
$large  : 75.000em; //1200px
// fonts
$base-font-size: 16px;
// p
$fs-p : $base-font-size;
$lh-p: 1.375em;
// h1
$fs-h1--phone   : 2em;
$lh-h1--phone   : 1.25em;
$fs-h1--desktop : 2.5em;
$lh-h1--desktop : 1.05em;
// h2
$fs-h2--phone   : 1.625em;
$lh-h2--phone   : 1.15384615em;
$fs-h2--desktop : 2.25em;
$lh-h2--desktop : 1.25em;
// h3
$fs-h3--phone   : 1.375em;
$lh-h3--phone   : 1.1366364em;
$fs-h3--desktop : 1.75em;
$lh-h3--desktop : 1.25em;
// h4
$fs-h4--phone   : 1.125em;
$lh-h4--phone   : 1.1111111em;
$fs-h4--desktop : 1.25em;
$lh-h4--desktop : 1.25em;
// couleurs
$rose           : #C8518D;
$rose-clair     : #B67CA7;
$bleu           : #043D74;
$vert           : #5C8989;
$blanc          : #F3F3F3;


$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      $rose;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$susy: (
        columns: 12,
        gutters: 1/4,
        math: fluid,
        gutter-position: outside,
        debug: (
                image: hide,
                color: rgba(#bada56, .40),
                output: background,
                toggle: top right,
        ),
);

// calcul des valeurs en em
@function em($target, $context: 16px) {
  @return ($target / $context) * 1em;
}