// ==========================================================================
// footer
// ==========================================================================
.site-footer {
  @include full;
  background-color: $bleu;
}
.footer-container {
  margin-top: 100px;
  @include breakpoint($small) {
    margin-top: 50px;
  }
}

.contact-list, .social-media-list {
  @include push(1);
  @include breakpoint($small) {
    @include span(3);
  }
}

.text {
  @include push(1);
  color: #D5D5CF;
  @include breakpoint($small) {
    margin-left: 0;
    @include span(4 last);
  }
}
.contact-list,
.social-media-list {
  list-style  : none;
  padding-left: 0;
  color: #A576A7;
  a {
    color: #A576A7;
  }
}
