.hauteur-plus {
    padding-bottom: 620px;
}

.conteneur-post {
    @include pad(5%);
    margin-top: 1.5em;
    @include susy-breakpoint($small) {
        @include span(8);
        @include push(2);
    }
}
.post-content {
    ul {
        list-style: none;
        li {
            &:before {
                content: '\21DD  ';
                color: $rose;
            }
        }
    }
}
.blog-list-h2 {
    font-size: 1.5em;
}

// titre post
.post-list h2 {
    font-size: 1.5em;
    line-height: 16px;
    padding-top: .3em;
    padding-bottom: 1em;
}

// dates
.post-meta {
    font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
}

.footnotes {
	border-top: 1px solid black;
    margin-top: 5em;
	&:before {
		content: 'notes :';
		font-style: italic;
	}
}

#disqus_thread {
    margin-top: 2em;
    @include pad(5%);
    @include susy-breakpoint($small) {
        @include span(8);
        @include push(2);
    }
}

.plan-article {
    background : RGBA(186, 186, 186, .2);
    padding: gutter();
    border-radius : 5px;
    h4 {
        margin-top : 0;
    }
}

.caddie {
    width: 80px;
    position : relative;
    left : 0;
}

#tuto-gif {
    background : RGBA(0, 0, 0, .2);
    width: 600px;
    display : block;
    margin : 4em auto;
    padding: 1em;
    border-radius : 5px;
}

.blog-image {
    width: 100px;
    display: block;
    margin: 0 auto;
}