.hauteur-plus {
    padding-bottom: 620px;
}

.conteneur-post {
    @include pad(5%);
    margin-top: 1.5em;
    @include susy-breakpoint($small) {
        @include span(8);
        @include push(2);
    }
}
.post-content {
    ul {
        list-style: none;
        li {
            position: relative;

            &:before {
                position: absolute;
                left: -8px;
                top: 9px;
                content: '';
                height: 4px;
                width: 4px;
                border-radius: 50%;
                display: block;
                background: color(primary-color-light);
            }
            a {
                color: #fff;
                font-family: $sans-serif;
            }
        }
    }
}
.blog-list-h2 {
    font-size: 1.5em;
}

// titre post
.post-list h2 {
    font-size: 1.5em;
    line-height: 16px;
    padding-top: .3em;
    padding-bottom: 1em;
}

// dates
.post-meta {
    font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
}

.footnotes {
	border-top: 1px solid black;
    margin-top: 5em;
	&:before {
		content: 'notes :';
		font-style: italic;
	}
}

.footnotes ol p:first-letter {
    font-size: 1em !important;
}

#disqus_thread {
    margin-top: 2em;
    @include pad(5%);
    @include susy-breakpoint($small) {
        @include span(8);
        @include push(2);
    }
}

.post-content p:first-of-type:first-letter {
    font-size: 2em;
}

.plan-article {
    background : color(primary-color-dark);
    padding: gutter();
    border-radius : 5px;
    margin: 4em 0;


    h4 {
        margin-top : 0;
        color: color(primary-color-text);
    }
}

.caddie {
    width: 80px;
    position : relative;
    left : 0;
}

#tuto-gif {
    background : RGBA(0, 0, 0, .2);
    width: 600px;
    display : block;
    margin : 4em auto;
    padding: 1em;
    border-radius : 5px;
}

.blog-image {
    width: 80px;
    display: block;
    margin: 0 auto;
}

.plan-article ol {
    padding-bottom: 1em;
}

.plan-article ol ol {
    padding-top: .5em;
}

.glossaire + ul li {
    font-size: 1.2em;
    margin-bottom: .5em;
    font-style: italic;
    font-family: $sans-serif;
}

.glossaire + ul ul li {
    font-style: normal;
    font-size: 1em;
    font-family: $texte;
    margin-top: 1em;
    color: color(primary-text-color);
    font-weight: 400;
    padding-left: 1.5em;

    &:before {
        display: none;
    }

    &:after {
        content: '';
        display: block;
        width: 150px;
        height: 1px;
        margin: 1em auto;
        background: color(primary-color);
    }
}