// ==========================================================================
// Styles basiques
// ==========================================================================
body {
  background-color: $background-color;
  color: color(primary-text-color);
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $lh-p;

  -webkit-text-size-adjust: 100%;
}

p ,
.post-link {
  font-family: $texte;
  line-height: $lh-p;

  font-variant-ligatures: discretionary-ligatures;
  font-feature-settings: 'liga';
}

// ==========================================================================
// Headings
// ==========================================================================
h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
  font-family: 'adelle-sans',sans-serif;
  font-style: normal;
  font-weight: 300;

  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga','clig';
}

h1 {
  @include susy-breakpoint($small) {
    font-size: $fs-h1--desktop;
    line-height: $lh-h1--desktop;
  }
  color: color(accent-color);
  font-size: $fs-h1--phone;
  letter-spacing: -1px;
  line-height: $lh-h1--phone;
}

h2 {
  @include susy-breakpoint($small) {
    font-size: $fs-h2--desktop;
  }
  margin-top: $base-margin;
  margin-bottom: $base-margin;
  color: color(primary-text-color);
  font-size: $fs-h2--phone;
  line-height: $lh-h2--phone;
}

.post-content h2 {
  position: relative;
  margin-top: 3em;
  &:before {
    position: absolute;
    top: -1.5em;
    left: 48%;
    content: '\e906';
    color: color(primary-color);
    font-family: icomoon;
  }
}

h3 {
  @include susy-breakpoint($small) {
    font-size: $fs-h3--desktop;
    line-height: $lh-h3--desktop;
  }
  color: color(secondary-text-color);
  font-size: $fs-h3--phone;
  line-height: $lh-h3--phone;
}

.post-content h3 {
  
}

h4 {
  @include susy-breakpoint($small) {
    font-size: $fs-h4--desktop;
    line-height: $lh-h4--desktop;
  }
  color: mix(#fff, $bleu, 40%);
  font-size: $fs-h4--phone;
  line-height: $lh-h4--phone;
}

// ==========================================================================
// Images
// ==========================================================================
img {
  width: 100%;
  height: auto;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

/**
 * Links
 */
a {
  color: $brand-color;
  font-family: $texte;
  text-decoration: none;
  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

// ==========================================================================
// Listes
// ==========================================================================

ul > li {
  font-family: $texte;
}

strong {
  font-style: normal;
  font-weight: 700;
}

/**
 * Blockquotes
 */
blockquote {
  display: block;
  margin: 2em;
  padding: 1em 0 1em 1em;
  color: color-lighter(primary-text-color, 2);
  font-size: 1.4em;
  font-style: italic;
  border-left: 10px solid color(accent-color);

  
  p {
    margin: 0;
    padding: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: $grey-color;
    }
  }
}
