// ==========================================================================
// footer
// ==========================================================================
.site-footer {
    @include full;
    background-color: color(primary-color-dark);
    height: $footer-height;
}
.footer-container {
    @include susy-breakpoint($small) {
        @include container();
        margin-top: 50px;
    }
    margin-top: 100px;
}

.contact-list ,
.social-media-list {
    @include push(1);
    @include susy-breakpoint($small) {
        @include span(3);
    }
}

.text {
    @include push(1);
    @include susy-breakpoint($small) {
        @include span(4 last);
        margin-left: 0;
    }
    color: #d5d5cf;
}
contact-list ,
.social-media-list {
    padding-left: 0;
    color: #a576a7;
    list-style: none;
    a {
        color: #a576a7;
    }
}
