// ==========================================================================
// Header
// ==========================================================================
.site-header {
    // Positioning context for the mobile navigation icon
    position      : relative;
    min-height    : 56px;
    border-top    : 5px solid $vert;
    border-bottom : 1px solid $vert;
    background    : $bleu;
}

.site-title {
    @include span(5);
    @include susy-breakpoint($small) {
        @include push(1.1);
    }
    position       : relative;
    margin-bottom  : 0;
    font-size      : 30px;
    letter-spacing : -1px;
    line-height    : 56px;

    &:hover {
        color           : $rose-clair;
        text-decoration : none;
    }
}

.trois {
    display     : inline-block;
    position    : absolute;
    left        : 110px;
    color       : $rose-clair;
    font-family : 'verdana';
    font-size   : .8em;
}

.trig {
    position : absolute;
    left     : 0;
}
