

// ==========================================================================
// Contenu vertical
// ==========================================================================
.bandeau {
  @include span(12);
  @include susy-breakpoint($small) {
    height: 6em;
  }
  height: 7em;
  background: url('/images/bg.png');
  background-repeat: repeat;
  h1 {
    @include susy-breakpoint($small) {
      font-size: $fs-h1--desktop;
      line-height: 1em;
    }
    color: color-darker(accent-color, 1);
    font-size: $fs-h1--phone;
    line-height: 1.1em;
  }
}

.bandeau-container {
  @include container();
}

.conteneur-haut {
  @include container();
  padding-bottom: 3em;
}

// ==========================================================================
// Layout gauche/droite
// ==========================================================================
.content-left ,
.content-right {
  min-height: 30em;
  margin-top: gutter();
  padding-top: gutter();
  background: lighten(lightyellow, 5);
  border: 1px solid #eee;
}

.content-left {
  @include susy-breakpoint($small) {
    @include span(9);
    @include pad(gutter());
    display: flex;
    overflow: auto;

    flex-direction: column;
    justify-content: center;
  }

  hyphens: auto;
}

.content-right {
  @include susy-breakpoint($small) {
    @include span(3 last);
    @include pad(gutter());
  }
  h2 {
    margin-top: 0;
  }
  .h2-contact {
    margin-top: 1em;
  }
}

// ==========================================================================
// Presta compe tools
// ==========================================================================

.cv {
  /*background: lighten($rose-clair, 10);*/
  @include full;

  @include susy-breakpoint($small) {
    background: lighten(lightyellow, 5);
    height: auto;
    margin-top: gutter();
    padding-top: 2em;
    border: 1px solid #eee;
  }

  section {
  
  }
  padding-bottom: 1em;
}



%h2 {
  width: 80%;
  border-bottom: 1px dashed color(accent-color);
  margin: 1em auto;
  text-align: center;
  color: color(primary-text-color);
}

.presta h2 ,
.compe h2 ,
.tools h2 {
  @extend %h2;
}

.compe {
  @include susy-breakpoint($small) {
    @include span(6);
  }
  @include susy-breakpoint($medium) {
    @include span(4);
  }
}

.tools {
  @include susy-breakpoint($small) {
    @include span(6);
  }
  @include susy-breakpoint($medium) {
    @include span(4);
  }
}

.presta {
  @include susy-breakpoint($small) {
    @include break;
    width: auto;
    margin: 0 auto;
  }
  @include susy-breakpoint($medium) {
    @include span(4 last);
    clear: none;
  }
}

.video-center {
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border: 10px solid RGB(230, 62, 142);
}

.codepen-modele {
  min-width: 900px;
  max-width: 50%;
}

.inline-link {
  display: inline !important;
  font-size: 1em !important;
  color: #fff !important;
  background: color(accent-color);
  padding: .3em .8em;
  border-radius: 5px;
  margin-left: 1em !important;
}

.autres-sites {
  @include container();
  padding: gutter();

  h2 {
    text-align: center;
    color: currentColor;
  }

}




