// ==========================================================================
// Contenu vertical
// ==========================================================================
.wrapper {
    @include pad(gutter());
    background : color-lighter(primary-color-light, 9);

    // sticky footer
    &:after {
        content: '';
        display : block;
        height: $footer-height;
    }
}

.bandeau {
    @include span(12);
    @include susy-breakpoint($small) {
        height: 6em;
        margin-bottom: 0;
    }
    margin-bottom: gutter();
    background: url('/images/bg.png') repeat;
    line-height: 2;
}

.bandeau-container {
    @include container();
}

.bandeau-container h1 {
    padding-left: gutter();
}

.conteneur-haut {
    @include container();
}

// ==========================================================================
// Layout gauche/droite
// ==========================================================================
.content-left ,
.content-right {
    min-height: 30em;
    margin-top: gutter();
    padding-top: gutter();
    border: 1px solid #eee;
    background: #fff;
}

.content-left {
    @include susy-breakpoint($small) {
        @include span(9);
        @include pad(gutter());  
        overflow: auto;
        
    }

    hyphens: auto;
}

.content-right {
    @include susy-breakpoint($small) {
        @include span(3 last);
        @include pad(gutter());
    }
    h2 {
        margin-top: 0;
    }
}

.h2-contact {
    margin-top: 1em;
    font-size : 1.5em;
}

// ==========================================================================
// Presta compe tools
// ==========================================================================
%h2 {
    width: 80%;
    margin: 1em auto;
    border-bottom: 1px dashed color(accent-color);
    color: color(primary-text-color);
    text-align: center;
}

.presta h2 ,
.compe h2 ,
.tools h2 {
    @extend %h2;
}

.compe {
    @include susy-breakpoint($small) {
        @include span(6);
    }
    @include susy-breakpoint($medium) {
        @include span(4);
    }
}

.tools {
    @include susy-breakpoint($small) {
        @include span(6);
    }
    @include susy-breakpoint($medium) {
        @include span(4);
    }
}

.presta {
    @include susy-breakpoint($small) {
        @include break;
        width: auto;
        margin: 0 auto;
    }
    @include susy-breakpoint($medium) {
        @include span(4 last);
        clear: none;
    }
}

.video-center {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    border: 10px solid RGB(230, 62, 142);
}

.codepen-modele {
    min-width: 900px;
    max-width: 50%;
}

.inline-link {
    display: inline !important;
    margin-left: 1em !important;
    padding: .3em .8em;
    border-radius: 5px;
    background: color(accent-color);
    color: #fff !important;
    font-size: 1em !important;
}

.autres-sites {
    @include full();
    @include container();
    padding: gutter();
    h2 {
        color: currentColor;
        text-align: center;
    }
}

.pro-tip {
    display: inline-block;
    position: relative;
    padding: gutter();
    box-shadow: 3px -3px 2px -2px color(accent-color);
    &:before {
        position: absolute;
        top: -16px;
        left: -16px;
        color: color(accent-color);
        font-family: icomoon;
        font-size: 2em;
        content: '\e900';
    }
}

.hr-icon {
    width: 100%;
    margin: 4em 0 2em;
    float: left;
    clear: both;
    border-top: 4px double #8c8b8b;
    text-align: center;

    &:after {
        display: inline-block;
        position: relative;
        top: -20px;
        margin: 0 10px;
        padding: 10px;
        background: #fdfdfd;
        color: color(primary-color);
        font-family: icomoon;
        font-size: 1.5em;
        content: '\e905';
    }
}

// GALLERY
.gallery {
    overflow: auto;
    margin-top : 3em;
}

.gallery__item {
    padding: gutter();
    @include susy-breakpoint($small) {
        @include gallery(6);
        border: 1px solid color(primary-color-light);
        border-radius: 4px;
        margin-bottom: gutter();
    }
}

.gallery__item h2 {
    font-size: $fs-h3--desktop;
    margin: 0;
}
