// ==========================================================================
// Navigation
// ==========================================================================
.canvas {
    position : relative;
    width : 100%;
    overflow : hidden;
}

input {
    display : none;
}

// target the sibbling of input
input:checked ~ .off-canvas {
    right : 0;
}

input:checked + label {
    margin-right : 15em;
}

input:checked ~ .content {
    margin-left : -15em;
}

.open {
    margin-top : 18px;
    transition : margin-right .3s ease;
    color : $blanc;
    font-size : 3em;

    @include span(2 last);
    @include susy-breakpoint($small) {
        display : none;
    }
}

.off-canvas {
    position : absolute;
    right : -15em;
    width : 15em;
    height : 200vh;
    transition : right .3s ease;
    border-top : 6px solid $vert;
    background : color(primary-color);

    @include susy-breakpoint($small) {

        bottom : 0em;
        right : 0;
        left: 0;
        width : 100%;
        height : auto;
        border-top : none;
        background : none;
        // DEBUG
        background : color(primary-color);
        z-index : 1000;
        // DEBUG
    }
}

.navigation {
    @include susy-breakpoint($small) {
        padding-top : 3px;
        line-height: 3;
    }
}

.navigation__ul {
    margin : 0 2em 0 0;
    padding : 0;

    @include susy-breakpoint($small) {
        float: right;
    }
}

.navigation__ul li {
    text-decoration : none;

    @include susy-breakpoint($small) {
        display : inline-block;
        line-height: 3;
    }

    list-style-type : none;
}

.page-link {
    display : block;
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left : 20px;
    border-bottom : 2px solid $blanc;
    color : $blanc;
    font-size : 1.1em;
    transition: all .3s ease-out;

    @include susy-breakpoint($small) {
        display : inline-block;
        padding: 0 1em;
        border-bottom : none;
        font-size : 1em;
        height: 100%;
    }
    &:hover {
        color: #fff;
        background: color-darker(primary-color-dark, 3);
        text-decoration: none;
    }
}

.content {
    width : 100%;
    height : 100vh;
    transition : margin-left .3s ease;
}

.close {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;

    pointer-events : none;
}

input:checked ~ .close {
    pointer-events : auto;
}

// ==========================================================================
// FIN Navigation
// ==========================================================================

.ariane ul {
    padding-left : 0;
}

.ariane li {
    display : inline-block;

    list-style-type : none;

    &:first-of-type:after {
        padding-left : .3em;
        content : '>';
    }
}
