// ==========================================================================
// Portfolio
// ==========================================================================

.conteneur-portfolio {
    @include full;
    @include susy-breakpoint($small) {
    }
    margin-top       : em(30px);
    padding-bottom   : em(75px);
    background-color : lighten($vert, 15);

    h2 {
        padding       : 10px 0 10px 10px;
        border-radius : 5px;
        background    : linear-gradient(to right, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, 0) 90%);
        color         : $rose;
    }
}

.site {
    @include container;
    margin-top    : 40px;
    margin-bottom : 40px;

    p {
        text-align : center;
    }

    a {
        display         : block;
        width           : 300px;
        margin          : 0 auto 2em;
        padding         : 20px 0;
        border-radius : 5px;
        background      : rgba(0, 0, 0, .3);
        color           : #fffffa;
        font-family     : 'adelle';
        font-size       : 1.5em;
        text-align      : center;
        text-decoration : underline;
    }
    h4 {
        color      : $rose;
        font-size  : 1.4em;
        text-align : center;
    }
}

.conteneur-com-desc {
    @include susy-breakpoint($large) {
        @include squish(1);
    }
}

.screenshots {
    @include full;
    margin-bottom : 50px;
    padding-top   : 20px;
}

.desktop-img {
    @include susy-breakpoint($small) {
    }
}

.commande,
.description {
    @include susy-breakpoint($small) {
        padding          : 20px;
        background-color : rgb(255, 255, 250);
        box-shadow       : 0 0 100px 0 #85adad inset;
    }
    padding-top : 40px;
}

.commande {
    @include susy-breakpoint($small) {
        @include span(360px);
        height        : 360px;
        border-radius : 50%;
        h4 {
            margin-top     : 58px;
            margin-bottom  : 0;
            padding-bottom : 10px;
        }
        p {
            padding : 0 12px;
        }
    }
    padding          : 10px 0;
    background-color : rgb(255, 255, 250);
}

.description {
    @include susy-breakpoint($small) {
        @include span(6 last);
        border-radius : 10px;
        h4 {
            margin-top : 10px;
        }
    }
    margin-top : 10px;
}

.button-container {
    padding : 0 5px;
}

.button-container {
    .button {
        @include gallery(6);
        @include susy-breakpoint($small) {
            @include gallery(4);
        }
    }
}

.button {
    @include susy-breakpoint($small) {
        @include span(2);
    }
    margin-right  : 5px;
    margin-bottom : 5px;
    padding       : 10px 0;
    border-radius : 3px;
    text-align    : center;
}

.button-border {
    border : 1px solid $rose;
}

.button-html {
    background-color : #e44d26;
    color            : #ebebeb;
}

.button-css3 {
    background-color : #1572b7;
    color            : white;
}

.button-sass {
    background-color : #c8518d;
    color            : white;
}

.button-jekyll {
    background-color : #fc0;
    color            : #333;
}

.button-laravel {
    background-color : #f87265;
    color            : white;
}

.button-javascript {
    background-color : #f0db4f;
}

.button-php {
    background-color : #5a66a2;
    color            : white;
}

.button-github {
    background-color : #9cdaf0;
}

.button-love {
    background-color : $rose-clair;
    color            : white;
}

.fa-heart,
.fa-heart-o {
    transition                : background-color 3s ease;

    animation                 : pulsate 3s ease-out;
    animation-iteration-count : infinite;
    @keyframes pulsate {
        0% {
            transform : scale(1, 1) rotate(-5deg);
        }
        10% {
            transform : scale(1.15, 1.15) rotate(-10deg);
            color     : lighten(red, 40);
        }
        20% {
            transform : scale(1.25, 1.25) rotate(-15deg);
            color     : lighten(red, 30);
        }
        100% {
            transform : scale(1, 1) rotate(-5deg);
        }
    }
}

.features {
    @include full;
}
